---
title: 'Welcome to Kreative'
preheader: 'We are so glad to have you here!'
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://id.kreativeusa.com">
                  <img
                    src="https://cdn.kreativeusa.com/id/kreative-id.png"
                    width="200"
                    alt="Kreative ID logo in default black"
                    class="max-w-full align-middle [border:0]"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full">
                  <tr>
                    <td
                      class="p-12 sm:px-6 bg-white text-slate-700 text-base text-left leading-6 rounded shadow-sm"
                    >
                      <p
                        class="text-2xl sm:leading-8 text-black font-semibold m-0 mb-6"
                      >
                        Welcome to Kreative, $$$-0 👋
                      </p>
                      <p class="m-0">
                        Thank you for creating a new account through Kreative
                        ID. We are so excited to have you experience all that
                        we've put together for you.
                      </p>
                      <p
                        class="text-lg sm:leading-6 text-black font-semibold m-0 mt-6 mb-2"
                      >
                        Have questions or trouble about your account?
                      </p>
                      <p class="m-0">
                        Just reply to this email or contact
                        <a
                          href="mailto:support@kreativeusa.com"
                          class="underline-offset-2 text-indigo-700"
                        >
                          support@kreativeusa.com
                        </a>
                      </p>
                      <table class="w-full" role="separator">
                        <tr>
                          <td class="py-8">
                            <div class="bg-slate-200 h-px leading-px">
                              &zwnj;
                            </div>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 mb-4">
                        If you did not create a new account with this email
                        address, please contact our support team with the email
                        address posted above.
                      </p>

                      <p class="m-0 mb-4 text-black">
                        Thanks, <br />The folks at Kreative
                      </p>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="h-12"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-slate-600 text-xs px-6">
                      <a href="https://kreativeusa.com">
                        <img
                          src="https://cdn.kreativeusa.com/fed/kreative-logo-gray-variant.png"
                          width="100"
                          alt="Kreative logo in gray variant"
                          class="max-w-full align-middle [border:0] mb-4"
                        />
                      </a>
                      <p class="m-0 mb-4 uppercase">
                        Powered by Startnet. Radical Starts Here.
                      </p>
                      <p class="cursor-default">
                        <a
                          href="https://kreativeusa.com?source=reset-code-email"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]"
                          >Visit Kreative</a
                        >
                        &bull;
                        <a
                          href="https://support.kreativeusa.com/id?source=reset-code-email"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]"
                          >Get support</a
                        >
                        &bull;
                        <a
                          href="https://kreativeusa.com/contact-us?source=reset-code-email"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]"
                          >Contact us</a
                        >
                      </p>
                      <table class="w-full" role="separator">
                        <tr>
                          <td class="py-4">
                            <div class="bg-slate-200 h-px leading-px">
                              &zwnj;
                            </div>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 mb-4">
                        &copy; 2023 Kreative, LLC. All rights reserved. 3012
                        Blazingstar Court, Naperville, IL 60564 USA. <br />
                        We are sending you this email because you have an
                        account with us.
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
